Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.rgba: rgb 
Xft.lcdfilter: lcddefault
Xcursor.theme:	openzone

*font: JetBrainsMono Nerd Font:size=11:antialias=true:hinting=true

*.background: #d6deeb
*.foreground: #062844


